{% extends 'shopapp/base.html'%}
{% load i18n %}
{% block title %}
  {%translate 'Order List' %}
{% endblock%}

{% block body %}
  <h1>{%translate 'Orders' %} </h1>
  {%if object_list %}
    <div>
    {% for order in object_list %}
      <div>
        <h2>{%translate 'Order' %} # {{order.pk}}</h2>
        <p> {%translate 'Order by' %}: {% firstof order.user.username order.user.first_name%}</p>
        <p>{%translate 'Promocode' %}: <code>{{order.promocode}}</code></p>
        <p>{%translate 'Delivery address' %}: {{order.delivery_address}}</p>
        <div>
          {%translate 'Products in order' %}
          <ul>
          {%for product in order.products.all%}
            <li>{{product.name}} for ${{product.price}}</li>

          {%endfor%}
          </ul>
        </div>
        <div>
          <p><a href="{% url 'shopapp:orders_details' pk=order.pk%}">{%translate 'Details' %}{{order.pk}}</a></p>
        </div>
      </div>
    {%endfor%}
    </div>
  {%else%}
    <h3> {%translate 'No order yet' %}t </h3>
  {%endif%}
<div><p><a href="{% url 'shopapp:index'%}" class="a1">{%translate 'Back' %}</a></p></div>
{% endblock%}