{%extends 'shopapp/base.html'%}

{% load i18n %}

{%block title%}
    {% translate 'Product' %} # {{product.pk}}
{%endblock%}

{%block body%}
    <h1>{% translate 'Product' %}<strong>{{product.name}}</strong></h1>
    <div>
        <div>{% translate 'Description'%}: <em>{{product.description}}</em></div>
        <div>{% translate 'Price'%}: {{product.price}}</div>
        <div>{% translate 'Discount'%}: {{product.discount}}</div>
        <div>{% translate 'Archived'%}: {{product.archived}}</div>
        {% if product.preview %}
        <img src="{{product.preview.url}}" alt="{{product.preview.name}}">
        {% endif %}
        <h3>{% translate 'Image'%}: </h3>
        <div>
            <div>
                {%blocktranslate count image_count=product.images.all|length%}
                Only one picture is available in the product
                {%plural%}
                There are {{image_count}} pictures available in the product
                {%endblocktranslate%}
            </div>
            {% for img in product.images.all %}
            <div>
                <img src="{{ img.image.url}}" alt="img.image.name">
                {{ img.description}}

            </div>
            {% empty %}
            <div>{% translate 'No images uploaded yet'%} </div>
            {% endfor%}
        </div>
    </div>
    {% url 'shopapp:products_update' pk=product.pk as products_update %}
    {% url 'shopapp:products_delete' pk=product.pk as products_delete %}
    {%url 'shopapp:products_list' as products_list%}
    {% blocktranslate %}
    <div>
        <a href="{{ products_update }}">Update product {{ product.pk }}</a>
    </div>
    <div>
        <a href="{{products_delete}}">Archive product </a>
    </div>
    <div>
        <a href="{{products_list}}">Back in products</a>
    </div>
    {% endblocktranslate %}
{%endblock%}