{% extends 'shopapp/base.html'%}
{% load cache %}
{% block title %}
Base Title
{% endblock%}


{% block body %}
<h1>
    Hello Shop Index
</h1>
<div>
    <ul>
        {% for name, price in products%}
        <li>{{name}} for ({{name|length}}) ${{price}}</li>
        {% if name|length_is:'3' %}
        <span>(lucky product)</span>
        {% endif %}
        {% empty %}
        No product here
        {% endfor %}
    </ul>
</div>
    <div>
        <a href="{% url 'shopapp:orders_create'%}">Create order</a>
    </div>
    <div>
        <a href="{%url 'shopapp:orders_list'%}">Having orders</a>
    </div>
<br>
<div>
    Timer : {{ time_running }}
</div>
    {% cache 200 lorem %}
<div>
    {% lorem 3 p random %}
</div>
    {% endcache %}
{% endblock%}
