{% extends 'myauth/base.html'%}

{%block title%}
  About me
{%endblock%}

{%block body%}
  <h1>About info1</h1>
  {% if user.is_authenticated%}
    <h2>Detail</h2>
    <p>User: {{user.username}}</p>
    <p>First name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Bio: {{user.profile1.bio}}</p>
    {% if user_profile.avatar %}
        <img src="{{ user_profile.avatar.url }}" alt="User Avatar">
    {% else %}
        <p>No avatar available for this user.</p>
    {% endif %}
  {%else%}
    <h2>User is anonymous</h2>
  {%endif%}
{%endblock%}